:root{
--bg-hover: rgb(153, 0, 0);
--black-clr: rgb(16, 15, 15);
--gray-clr: rgb(65, 63, 66);
}

*,
*::before,
*::after {
box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
}

html,
body {
height: 100%;
}

body{
background-image: url(./img/bg.png);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
position: relative;
}

.btn{
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.start{
background-color: var(--black-clr);
border-radius: 5px;
box-shadow: 5px 5px var(--gray-clr);
}

.start:hover{
background-color: var(--bg-hover);
box-shadow: 5px 5px var(--bg-hover);
}

.start_button{
cursor: pointer;
border: 3px var(--black-clr) solid;
border-radius: 5px;
height: 150px;
}

.clouds {
z-index: -1;
width: 10000px;
height: 100%;
background: transparent url("./img/moving_clouds.png") repeat;
background-size: 1000px 1000px;
position: absolute;
right: 0;
top: 0;
bottom: 0;
   
-moz-animation: move-background 150s linear infinite;
-ms-animation: move-background 150s linear infinite;
-o-animation: move-background 150s linear infinite;
-webkit-animation: move-background 150s linear infinite;
animation: move-background 150s linear infinite;
}

@keyframes move-background {
from {
-webkit-transform: translate3d(0px, 0px, 0px);
}

to {
-webkit-transform: translate3d(1000px, 0px, 0px);
}
}

@-webkit-keyframes move-background {
from {
-webkit-transform: translate3d(0px, 0px, 0px);
}

to {
-webkit-transform: translate3d(1000px, 0px, 0px);
}
}

@-moz-keyframes move-background {
from {
-webkit-transform: translate3d(0px, 0px, 0px);
}

to {
-webkit-transform: translate3d(1000px, 0px, 0px);
}
}

@-webkit-keyframes move-background {
from {
-webkit-transform: translate3d(0px, 0px, 0px);
}

to {
-webkit-transform: translate3d(1000px, 0px, 0px);
}
}